
{% extends 'blog/base.html' %}
{% block content %}

<div class="content">
  <div class="firstContent">
  <section>
      <div id="demo" class="carousel slide" data-ride="carousel">

          
          <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
          </ul>
          
          
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://images.unsplash.com/photo-1639066648921-82d4500abf1a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80" alt="Los Angeles" width="1100" height="500">
            </div>
            <div class="carousel-item">
              <img src="https://images.unsplash.com/photo-1591808216268-ce0b82787efe?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="Chicago" width="1100" height="500">
            </div>
            <div class="carousel-item">
              <img src="https://images.unsplash.com/photo-1608306448197-e83633f1261c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="New York" width="1100" height="500">
            </div>
          </div>
          
          
          <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>
  </section>
  
  
  <aside>
      <h1>PUBLICACIONES</h1>
      {% for post in posts %}
      <article>
          <time>published: {{ post.published_date }}</time>
          <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
          <p>{{ post.text|linebreaksbr }}</p>
      </article>
      {% endfor %}
  </aside>
   

  </div>
</div>

  {% endblock %}